body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

h1, h2 {
  text-align: center;
}body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
}

h1 {
  text-align: center;
  margin-top: 50;
}


/* Rest of the CSS code... */


.form-container {
  margin: 10px;
  height: 300px;
  width: 500px;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
  transition: 0.3s ease-in;
  max-width: 400px;
  margin: 4px auto;
  padding: 32px;
  background-color: #f5f5f5;
  border-radius: 49px;
}

.form-group {
  margin-bottom: 0px;
}

label {
  display: block;
  font-weight: bold;
}

input[type="date"],
input[type="number"] {
  width: 100%;
  padding: 5px;
}

button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
#transactionList {
  margin-right: 20px; /* Updated from margin-left */
  flex: 1;
}

#transactionList ul {
  list-style: none;
  padding: 0;
}

#transactionList li {
  margin-bottom: 10px;
}

#total {
  font-weight: bold;
}

#chartContainer {
  margin-left: 20px;
  flex: 1;
}
